
:root{
--clr-primary:#304ffe;
--clr-primary-hover:#29e6a7;
--clr-primary-dark:#039d69;
--clr-gray100:#f0f7f8;
--clr-gray200:#cfd8dc;
--clr-gray300:#a7b7be;
--clr-gray400:#6b7e86;
--clr-gray500:#425a65;

}


*, *:before, *:after { 
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
  }
  header{
    background-image: url(../imagens/nuvens9.jpeg);
    color: #FFFFFF;
    height: 23vh;
  } 



.card{
  margin: 1em;
  display: inline-flex;
  width: 20em;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid var(--clr-gray200);
  box-shadow: 4px 4px var(--clr-gray200);
  justify-content: space-around;
  cursor: pointer;
  transition: border 200ms ease-in,
   box-shadow 200ms ease-in;
   margin-right: 6.1em;
}

.card a{
  color: #0429a3;
  font-size: 1.5em;
  
}
.card__image{
  height: 12rem;
  width: 100%;
}

  /* CLASSE PARA VIDEO DE FUNDO DE UM TEXTO */
.showcase{
  width: 100%;
  height: 100vh;
  position: relative;
}

.showcase video{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  object-fit: cover;
}

.showcase h1{
  width: 100%;
  height: 100%;
  background-color: #0f0f0f;
  font-size: 75px;
  color: #FFF;
  mix-blend-mode: multiply;
}


a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}



a:hover {
  opacity: 0.7;
}

.logo {

  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  height: 8vh;
}

  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 6px;
    margin: 10em;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 18vh;
      right: 0;
      width: 100vw;
      height: 100vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
    .card{
      width: 95%;
    
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
    
  }
  


  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  

img[id="logo"]{
margin: 0;
padding: 0;
width: 6.6rem;
height: 4rem;
border: none;
box-shadow: none;
max-width: 200px;
border-color: rgb(0, 0, 0);
border-radius: 1em;
margin-left: 0.7em;
margin-right: auto;
margin-top: 1em;
}

h1[id="titulo"] {
  display: inline;
  font-family: "Arial";
  font-size: 3em;
  margin-left: .3em;
}




.t404, .blogtitle{
  text-align: center;
  margin-bottom: .3em;
}

  p{
    font-size: 20px;
    font-family:  Arial, Helvetica, sans-serif;
  }

  p[id="rodape"]{
    margin-left: .9em;
    margin-top: 1em;
  }

footer{
  background-image: url(../imagens/nuvens9.jpeg);
  color: #313030;
 
  width: 100%;
  height: 100px;
}
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  /*fadeOutLeft*/
  @-webkit-keyframes fadeOutLeft {
    0% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateX(-20px);
    }
  }
  
  @keyframes fadeOutLeft {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-20px);
    }
  }